body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.content pre {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 13px;
    word-wrap: normal;
    white-space: pre;
    overflow: auto;
    border-radius: 4px;
    display: block;
    color: #abb2bf;
    background: #282c34;
}

.content code {
    color: #c7254e;
    border-radius: 4px;
    padding: 2px 4px;
    background-color: #f6f6f6;
    border: none;
    font-size: 12px;
    white-space: pre-wrap;
    vertical-align: middle;
}

.content pre code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
    border: none;
    font-size: 12px;
    color: inherit;
    vertical-align: middle;
}
.el-rate__icon {
    vertical-align: middle;
}
