<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.ianhe.isite.dao.ScoreMapper">
    <resultMap id="BaseResultMap" type="me.ianhe.isite.entity.Score">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="value" jdbcType="INTEGER" property="value"/>
        <result column="writer" jdbcType="VARCHAR" property="writer"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, value, writer, create_time, update_time, reason
    </sql>

    <select id="getTotalScore" resultType="Long">
        select sum(value)
        from t_score
    </select>
</mapper>