<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.ianhe.isite.dao.SysUserMapper">
    <resultMap id="BaseResultMap" type="me.ianhe.isite.entity.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="telephone" property="telephone"/>
        <result column="address" property="address"/>
        <result column="enabled" property="enabled"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="userface" property="userface"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <resultMap id="lazyLoadRoles" type="me.ianhe.isite.entity.User" extends="BaseResultMap">
        <collection property="roles" ofType="me.ianhe.isite.entity.Role"
                    select="me.ianhe.isite.dao.SysUserMapper.getRolesByUserId"
                    column="id">
        </collection>
    </resultMap>
    <resultMap id="eagerLoadRoles" type="me.ianhe.isite.entity.User" extends="BaseResultMap">
        <collection property="roles" ofType="me.ianhe.isite.entity.Role">
            <id property="id" column="rid"/>
            <result property="name" column="rname"/>
            <result property="nameZh" column="rnameZh"/>
        </collection>
    </resultMap>
    <select id="loadUserByUsername" resultMap="lazyLoadRoles">
        select *
        from t_user
        WHERE username = #{username}
    </select>
    <select id="getRolesByUserId" resultType="me.ianhe.isite.entity.Role">
        SELECT r.*
        FROM t_user_role h, t_role r
        where h.rid = r.id AND h.uid = #{id}
    </select>
    <insert id="hrReg">
        INSERT INTO t_user
        set username = #{username}, password = #{password}
    </insert>
    <select id="getUsersByKeywords" resultMap="eagerLoadRoles">
        select h.*,`r`.`id` AS `rid`,`r`.`name` AS `rname`,`r`.`nameZh` AS `rnameZh` from ((`t_user` `h` left join
        `t_user_role` on ((`h`.`id` = `t_user_role`.`uid`))) left join `t_role` `r` on ((`t_user_role`.`rid` =
        `r`.`id`))) where h.`id` not
        in(select t_user_role.`uid` from t_user_role t_user_role,t_role r where t_user_role.`rid`=r.`id` and
        r.`nameZh`='系统管理员')
        <if test="keywords!='all' and keywords!=''">
            and h.`name` like concat('%',#{keywords},'%')
        </if>
        order by h.`id` limit 10
    </select>
    <select id="getUserById" resultMap="eagerLoadRoles">
        select
            t_user.*,
            t_role.`id`     AS `rid`,
            t_role.`name`   AS `rname`,
            t_role.`nameZh` AS `rnameZh`
        from ((`t_user`
            left join `t_user_role` on ((t_user.`id` = `t_user_role`.`uid`))) left join `t_role`
                on ((`t_user_role`.`rid` = t_role.`id`)))
        where t_user.`id` = #{uid}
    </select>
    <update id="updateUser" parameterType="me.ianhe.isite.entity.User">
        update t_user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userface != null">
                userface = #{userface,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteRoleByUserId" parameterType="Long">
        DELETE FROM t_user_role
        where uid = #{uid}
    </delete>
    <insert id="addRolesForUser">
        INSERT INTO t_user_role(uid,rid) VALUES
        <foreach collection="rids" separator="," item="rid">
            (#{uid},#{rid})
        </foreach>
    </insert>
    <delete id="deleteUser" parameterType="Long">
        DELETE FROM t_user
        WHERE id = #{uid}
    </delete>
    <select id="getAllUser" resultType="me.ianhe.isite.entity.User">
        select * from t_user
        <if test="currentId!=null">
            WHERE id !=#{currentId}
        </if>
    </select>
</mapper>