@import "normalize";       // api: https://github.com/necolas/normalize.css/
@import "variables";       // 站点变量
@import "base";


.demo-table-expand {
    font-size: 0;
}

.demo-table-expand label {
    width: 90px;
    color: #99a9bf;
}

.demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
}